serverless.yml
service: mentoria-serverless

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x
  iamRoleStatements:
    - Effect: Allow
      Action:
        - states:StartExecution
      Resource: '*'
    - Effect: Allow
      Action:
        - mobiletargeting:SendMessages
      Resource: '*'

functions:
  create:
    handler: handler.create
    events:
      - http:
          path: create
          method: post
          cors: true
    environment:
      QUEUE_URL: ${construct:mentoriaQueue.queueUrl}
  parser:
    handler: handler.parser
  approve:
    handler: handler.approve
    environment:
      PINPOINT_APPLICATION_ID: ${self:resources.Outputs.PinpointApp.Value}
  reject:
    handler: handler.reject
    environment:
      PINPOINT_APPLICATION_ID: ${self:resources.Outputs.PinpointApp.Value}

constructs:
  mentoriaQueue:
    type: queue
    worker:
      handler: handler.trigger
      environment:
        STATE_MACHINE_ARN: ${self:resources.Outputs.FeedbackStateMachine.Value}

stepFunctions:
  stateMachines:
    FeedbackStateMachine:
        name: FeedbackStateMachine
        definition:
          Comment: This is your state machine
          StartAt: Parser
          States:
            Parser:
              Type: Task
              Resource:
                Fn::GetAtt: [parser, Arn]
              Next: Decider
            Decider:
              Type: Choice
              Choices:
              - Variable: "$.valid"
                BooleanEquals: true
                Next: Approve
              - Variable: "$.valid"
                BooleanEquals: false
                Next: Reject
            Approve:
              Type: Task
              Resource:
                Fn::GetAtt: [approve, Arn]
              End: true
            Reject:
              Type: Task
              Resource:
                Fn::GetAtt: [reject, Arn]
              End: true

resources:
  Resources:
    PinpointApp:
      Type: 'AWS::Pinpoint::App'
      Properties:
        name: reporter
    # PinpointSMSChannel:
    #   Type: 'AWS::Pinpoint::SMSChannel'
    #   Properties:
    #     Ref: ${self:resources.Outputs.PinpointApp.Value}
  Outputs:
    FeedbackStateMachine:
      Value:
        Ref: FeedbackStateMachine
    PinpointApp:
      Value:
        Ref: PinpointApp

plugins:
  - serverless-step-functions
  - serverless-lift
